# Vendor verification

## Verification

Because everyone can register in the iumiCash as developer and accept payments,
a iumiCash needs to manually verify each vendor.

!!! tip
    You can check your verification status in [development page].

## How to verify yourself?

To get verification status you have to contact administrators of the iumiCash.


[development page]: ../vendors/development_page.md
