# Vendor verification

## Verification

iumiCash follows manual procedures for verification of each vendor. 
iumiCash representatives may request additional information from the vendor to verify 
the account prior to registering the vendor in the system. This may include contact details, 
license, and other business-related information.


## How to check verification status?

Vendors must contact iumiCash representatives to obtain the verification status.

